@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

/*-----------------------------------------------------Colours */
header {
    background-color: #f4edea;
}

.ourbooks {
    background-color: #c5d8d1;
}

.events {
    background-color: #f4edea;
}

.contactus {
    background-color: #12263a;
}

.navbar {
    background-color: #f4edea;
}

/*-----------------------------------------------------Heading */

header {
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    margin-top: 20px;
}

.menuitem {
    height: 60px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    text-decoration: none;
    color: #12263a;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.menuitem a:hover {
    color: #06bcc1;
}

.intro-container {
    height: 50vh;

    background: url(../images/library.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
}

.intro-container h1,
p {
    color: #f4edea;
    text-align: center;
    padding-top: 70px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home {
    text-decoration: none;
    color: #12263a;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.intro-container h1 {
    font-weight: 700;
    font-size: 60px;
}

.intro-container p {
    font-size: 25px;
}

/*-----------------------------------------------------Our Books */

.section-header {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #12263a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0px;
    font-size: xxx-large;
}

.book-links {
    padding-bottom: 50px;
}

.ourbooks h3 {
    text-decoration: none;
    color: #12263a;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.booktitle {
    padding-top: 20px;
}

/*-----------------------------------------------------Events */

.events h3 {
    text-decoration: none;
    color: #12263a;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.event-times {
    padding-bottom: 50px;
}

.map-header {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #12263a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0px;
    font-size: xx-large;
}

.map {
    width: 512px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.map iframe {
    width: 500px;
}

/*-----------------------------------------------------Contact Us */
.contact-us {
    text-decoration: none;
    color: #f4edea;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.contact-header {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #f4edea;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0px;
    font-size: xx-large;
}

.contact-form {
    padding-bottom: 50px;
    width: 800px;
    margin-left: 250px;
}

/*-----------------------------------------------------Footer */

.socialmedia {
    padding-top: 12px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #12263a;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.social-links li a {
    margin-left: 10px;
    margin-right: 10px;
    color: #12263a;
}

.findus {
    padding-top: 5px;
    color: #12263a;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-----------------------------------------------------Media queries */

@media screen and (max-width: 1030px) {
    #home p {
        padding-top: 10px;
    }

    .event-times {
        padding-bottom: 0px;
    }

    .map iframe {
        width: 100%;
    }

    .contact-form {
        width: 100%;
        margin-left: 0px;
    }
}

@media screen and (max-width: 768px) {

    #home h1 {
        padding-top: 30px;
    }

    #home p {
        font-size: 20px;
        padding-top: 30px;
    }

    .august {
        padding-top: 22px;
    }

    .map iframe {
        width: 100%;
    }

    .contact-form {
        width: 100%;
        margin-left: 0px;
    }

}

@media screen and (max-width: 500px) {
    .contact-form {
        width: 60%;
        margin-left: 80px
    }

    .map iframe {
        width: 100%;
    }

    .eventdetails {
        padding-bottom: 40px;
    }

    .event-times {
        padding-bottom: 0px;
    }

    .home {
        font-size: 25px;
    }

    #home h1 {
        font-size: xx-large;
    }

    #home p {
        font-size: 17px;
    }

}