@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

/*-----------------------------------------------------Colours */
header {
    background-color: #f4edea;
}

.ourbooks {
    background-color: #c5d8d1;
}

.events {
    background-color: #9be6e9;
}

.contactus {
    background-color: #12263a;
}

/*-----------------------------------------------------Heading */

header {
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    margin-top: 20px;
}

.menuitem {
    height: 60px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 75%;
    text-decoration: none;
    color: #12263a;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.menuitem a:hover {
    color: #06bcc1;
}

.intro-container {
    height: 50vh;

    background: url(../images/library.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
}

.intro-container h1,
p {
    color: #f4edea;
    text-align: center;
    padding-top: 70px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home {
    text-decoration: none;
    color: #12263a;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.intro-container h1 {
    font-weight: 700;
    font-size: 60px;
}

.intro-container p {
    font-size: 25px;
}

/*-----------------------------------------------------Our Books */

.section-header {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #12263a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0px;
    font-size: xxx-large;
}

.book-links {
    padding-bottom: 50px;
}

.ourbooks h3 {
    text-decoration: none;
    color: #12263a;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

/*-----------------------------------------------------Events */

.events h3 {
    text-decoration: none;
    color: #12263a;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

/*-----------------------------------------------------Contact Us */
.contact-us {
    text-decoration: none;
    color: #f4edea;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.contact-header {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #f4edea;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0px;
    font-size: xxx-large;
}

.contact-form {
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
}

/*-----------------------------------------------------Footer */